<input type="button" value="Single Lex" id="lexStepButton"/>
<input type="button" value="Lex All" id="lexAllButton"/>
<table id="lexTable">
    <thead>
        <tr>
            {{#each headers}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody></tbody>
</table>
