<input type="button" value="Parse SingleStep" id="parseStepButton"/>
<input type="button" value="Parse All" id="parseAllButton"/>
<table id="parseTable">
    <thead>
        <tr>
            {{#each headers}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody></tbody>
</table>
