<table>
    <tr>
        <td>{{nSteps}}</td>
        <td>{{#each stackTags}}{{this}} {{/each}}</td>
        <td>{{#each tokenTags}}{{this}} {{/each}}</td>
        <td>{{action}}</td>
    </tr>
</table>
